{% extends 'base.html' %}
{% block content %}
<h1>La liste des conférences</h1>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Theme</th>
        <th>Date de conférences</th>
        <th>Actions</th>
    </tr>

    {% for c in liste %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.get_theme_display }}</td>
        <td>{{ c.start_date }} - {{ c.end_date }}</td>
        <td>
            <a href="{% url 'conference_details' c.pk %}">Détails</a>
            
            {% if user.is_authenticated and user.role == "commitee" %}
                | <a href="{% url 'conference_update' c.pk %}">Modifier</a>
                | <a href="{% url 'conference_delete' c.pk %}">Supprimer</a>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Aucune conférence disponible.</td>
    </tr>
    {% endfor %}
</table>

<p>
    {% if user.is_authenticated and user.role == "commitee" %}
    <a href="{% url 'conference_create' %}">➕ Ajouter une conférence</a>
    {% endif %}
</p>
{% endblock %}
